.header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(43, 44, 44);
    gap: 20px;
    margin-bottom: 24px;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.active {
    color: rgb(255, 0, 0);
}