/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgb(89, 90, 90);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

